extends layout
block content

  h4 Results here
  h6 Questions correct: #{user.score}
  h6 Questions attempted: #{user.questionsAttemptedCount}
  //- Button to take new quiz
  if quiz_completed
    div.row.text-center
    form(method='POST' action='/quiz-reset')
      button.btn.btn-outline-danger(type='submit') Reset Quiz

  else
    div.row.text-center
      form(method='GET' action='/')
        button.btn.btn-outline-success(type='submit') Start New Quiz
      