extends layout
block content

  h1= title
  div.row.text-center
    form(method='GET' action='/quiz')
      button.btn.btn-outline-success(type='submit') Start Quiz
  br
  div.row.text-center
    form(method='GET' action='/quiz/question/create')
      button.btn.btn-outline-success(type='submit') Create Quiz
