extends layout

block content

  h4= title
  div(class='row')
    div(class='col-sm-6')
      form(method='POST' action='/quiz/user/forgot-password')
        div.form-group
          p Forgot password
          label(for='email') Email
          input#email.form-control(type='text' name='email' placeholder='Email' required='true')
          label(for='emailConfirm') Confirm email
          input#emailConfirm.form-control(type='text' name='emailConfirm' placeholder='Confirm email' required='true')
        button.btn.btn-outline-primary(type='submit') Reset password

