extends layout

block content

  h4= title
  div(class='row')
    div(class='col-sm-6')
      if !user
        form(method='POST' action='/quiz/user/forgot-password')
          div.form-group
            p Forgot password
            label(for='email') Email
            input#email.form-control(type='text' name='email' placeholder='Email' required='true')
            label(for='emailConfirm') Confirm email
            input#emailConfirm.form-control(type='text' name='emailConfirm' placeholder='Confirm email' required='true')
          button.btn.btn-outline-primary(type='submit') Reset password
      else
        form(method='POST')
          div.form-group
            p Reset password
            label(for='password') Password
            input#password.form-control(type='text' name='password' placeholder='Password' required='true')
            label(for='passwordConfirm') Confirm password
            input#passwordConfirm.form-control(type='text' name='passwordConfirm' placeholder='Confirm password' required='true')
          button.btn.btn-outline-success(type='submit') Save

